<!doctype html>
<html lang="ko">
 <head><title> hobby </title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="{% static 'style.css' %}">
 </head>
 <body><center>
     <header>
        <P>
	<li><a href="{%index.html%}">Home</a></li>
	<li><a href="{%profile.html%}" >Profile</a></li>
	<li><a href="{%hobby.html%}" >Hobby</a> </li>
	<li><a href="{%favorite_song.html%}" >Favorite Song</a></li>
            <li><a href="https://github.com/JinjeongPark/Mid-Term-Project.git">Git Repository</a></li>
        </P>
     </header><br>
     <center><h2>Hobby</h2></center>
     <main>
        
        <div style="width:45%;float:left;">
        <h3>독서</h3><br><br>
            
        <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202008/26/374e78cb-d888-4e6c-82a0-f5537f1097c2.jpg" width=400px height=100%>
        <br><br>
        <p>
            소설보다는 주로 철학이나 역사 분야의 책을 자주 읽습니다.
        </p>
            
        </div>
        <div style="width:55%;float:left;">
            <h3>스쿼시</h3><br><br>
            
            <img src="https://media.istockphoto.com/photos/its-all-in-how-you-serve-picture-id1232520348?k=20&m=1232520348&s=612x612&w=0&h=0EwvxeLVjZ34499j_GYYSQ0BkWzecfxg8JPINjcASXw=" width=400px height=50%>
            <br><br>
            <p>
                학교에서 동아리로 처음 스쿼시를 접하고 난 후 <br>흥미를 느껴 스쿼시를 약 1년째 배우고 있습니다.<br>
                스쿼시는 혼자서도 할 수 있는 운동이지만 저는 <br>여러 사람과 함께 어울려 운동할 수도 있습니다.<br>
            </p>
        </div>
     </main>
    
    
 
   </center>
 </body>  
</html>
